
body{
    width:100vw;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}



.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-1{
    display: flex;
    margin-bottom: 30px;

}
.row-2{
    display: flex;

}
.row-1 div{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: aqua;
}
.row-2 div{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: blueviolet;
}

